<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button (click)="logout()">
				<ion-icon slot="icon-only" name="log-out"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title> My Profile </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<form (ngSubmit)="save()" [formGroup]="form" *ngIf="profile!=undefined">
		<ion-item fill="solid" class="ion-margin-bottom">
			<ion-input type="text" placeholder="Name..." formControlName="name"></ion-input>
		</ion-item>
	

		<ion-button type="submit" expand="block" [disabled]="!form.valid" >Save</ion-button>
		
	</form>
	<div class="preview">
   
		<ion-avatar (click)="changeImage()">
			<img *ngIf="profile?.imageUrl; else placheolder_avatar;" [src]="profile.imageUrl" />
			<ng-template #placheolder_avatar>
				<div class="fallback">
					<p>Select avatar</p>
				</div>
			</ng-template>
		</ion-avatar>
	</div>

</ion-content>